$slide-duration: 1500ms; $translation-offset: 50%; $slide-timing: ease-out;
// Slide Up
.slide-left-appear {
    position: relative;
    -webkit-transform: translateX($translation-offset);
    transform: translateX($translation-offset);
}
.slide-left-appear-active {
    position: relative;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: transform $slide-duration $slide-timing;
}
.slide-left-enter {
    position: relative;
    -webkit-transform: translateX($translation-offset);
    transform: translateX($translation-offset);
}
.slide-left-enter-active {
    position: relative;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: transform $slide-duration $slide-timing;
}


// Slide Up
.slide-up-appear {
    position: relative;
    -webkit-transform: transltranslateYateX($translation-offset);
    transform: translateY($translation-offset);
}
.slide-up-appear-active {
    position: relative;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: transform $slide-duration $slide-timing;
}
.slide-up-enter {
    position: relative;
    -webkit-transform: translateY($translation-offset);
    transform: translateY($translation-offset);
}
.slide-up-enter-active {
    position: relative;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: transform $slide-duration $slide-timing;
}