@font-face {
    font-family: Cubic;
    src: url("./cubic/cubic.ttf");
    font-display: swap;
}

@font-face {
    font-family: Peg;
    src: url("./peg_holes/peg-holes.ttf");
    font-display: swap;
}

@font-face {
    font-family: Luminova;
    src: url("./luminova-font/Luminova-lgDWe.otf");
    font-display: swap;
}

.font-main {
    font-family: Cubic;
}

.font-peg {
    font-family: Peg;
}

.secondary-text {
    font-family: Luminova;
}