@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/vendor/rfs";

.content {  
    @include media-breakpoint-down(lg) { 
        max-height: calc(100% - 62px); 
    }
    
    > :nth-child(1), > :nth-child(2){
        grid-column: 1;
        grid-row: 1;   
    }

}
.base-layout{
    height: 100%;

    > .navigation {
        .navbar-collapse{
            @include media-breakpoint-down(md) { 
                position: absolute;
                top: 62px; right: 0px;
                z-index: 5;
            }            
        }

        @include media-breakpoint-up(lg) { 
            nav {
                height: 100%;
                width : 100px;
            }
            div {
                display: flex;
                flex-direction: column;
            }
            
        } 

        @include media-breakpoint-up(xl) { 
            nav {
                width : 150px;
            }
        } 
    }
}

.react-p5-wrapper{
    line-height: 0px;
}

.page-layout {
    @include rfs(4rem, "padding-right");
    @include rfs(4rem, "padding-left");
    @include rfs(1em, "padding-top");
    @include rfs(1em, "padding-bottom");
}